<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title></title>
		<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="main_detail">
			<div class="detail_content">
				<div class="left">
					<div></div>
					<div class="list-group">
						<a href="javascript:void(0);" class="list-group-item active">
							<p class="list-group-item-text">
								状态信息
							</p>
						</a>
						<a href="javascript:void(0);" class="list-group-item">
							<p class="list-group-item-text">
								调试模式
							</p>
						</a>
						<a href="javascript:void(0);" class="list-group-item">
							<p class="list-group-item-text">
								版本配置
							</p>
						</a>
						<a href="javascript:void(0);" class="list-group-item">
							<p class="list-group-item-text">
								系统管理
							</p>
						</a>
					</div>
				</div>
				<div class="right">
					<div class="right_main">
						<div class="panel panel-warning" id="status">
						    <div class="panel-heading">
						        状态信息
						    </div>
						    <div class="panel-body" style="overflow-y: auto;">
						        <table class="table table-striped table-bordered table_status" >
								    <thead>
								    	<th colspan="2" style="background-color:#FFFFCC  ">版本信息</th>
								    </thead>
								    <tbody>
									    <tr>
									      <td>LINUX版本</td>
										  <td><% readVer("linux");%></td>
									    </tr>
									    <tr>
									      <td>ZYNQ_PL版本</td>
										  <td><% readVer("zynq");%></td>
									    </tr>
									    <tr>
									      <td>FPGA0版本</td>
										  <td><% readVer("fpga");%></td>
									    </tr>
										<tr>
									      <td>FPGA1版本</td>
										  <td><% readVer("boot");%></td>
									    </tr>
								    </tbody>
								</table>
								 <table class="table table-striped table-bordered table_status" >
								    <thead>
								    	<th colspan="2" style="background-color: #B0C4DE">电压信息</th>
								    </thead>
								    <tbody>
									      <td>电压显示</td>
										  <td><% getVol("vol"); %></td>
									    </tr>
									    <tr>
									      <td>核压显示</td>
										  <td><% getVol("core"); %></td>
									    </tr>
									    <tr>
									      <td>接口电压</td>
										  <td><% getVol("interface"); %></td>
									    </tr>
									    <tr>
									      <td>DDR电压</td>
										  <td><% getVol("ddr"); %></td>
									    </tr>
								    </tbody>
								</table>
								 <table class="table table-striped table-bordered table_status" >
								    <thead>
								    	<th colspan="2" style="background-color: #B0E0E6">温度显示</th>
								    </thead>
								    <tbody>
										<tr>
									      <td>温度显示</td>
										  <td id="temp"></td>
									    </tr>
								    </tbody>
								</table>
						    </div>
						</div>
						<div class="panel panel-success" id="debugger">
						    <div class="panel-heading">
						        调试模式
						    </div>
						    <div class="panel-body" style="overflow-y: auto;">
						    	<div class="panel-body-content">
						    		<div>
										<div class="panel panel-default" style="height: 260px;">
										    <div class="panel-heading">
										        <h3 class="panel-title">
										            网络管理
										        </h3>
										    </div>
										    <div class="panel-body" >
										        <form class="form-horizontal" role="form" id="saveReportForm1" method="get" action="action/setipaddress"   onsubmit="return saveReport()" >
												  <div class="form-group">
												    <label for="theta1" class="col-sm-3 control-label" style="font-size: 100">网络地址</label>
												    <div class="col-sm-9">
												      <input type="text" name="netAddress" class="form-control" id="theta1" placeholder="请输入网络地址">
												    </div>
												  </div>
												  <div class="form-group">
												    <label for="mask" class="col-sm-3 control-label">子网掩码</label>
												    <div class="col-sm-9">
												      <input type="text" name="subaddress" class="form-control" id="mask" placeholder="请输入子网掩码">
												    </div>
												  </div>
												  <div class="form-group">
												    <div class="col-sm-offset-6 col-sm-6">
												      <button type="submit" class="btn btn-default" >提交</button>
													<!--<input type="submit" value="提交">-->
												    </div>
												  </div>
												</form>
										    </div>
										</div>
					    			</div>
							        <div>
							    		<div class="panel panel-default" style="height: 260px">
										    <div class="panel-heading">
										        <h3 class="panel-title">
										            单通道配置
										        </h3>
										    </div>
										    <div class="panel-body" >
										        <form class="form-horizontal" role="form" id="saveReportForm2" method="get" action="action/uploadTest"   onsubmit="return saveReport()">
												  <div class="form-group">
												    <label for="theta2" class="col-sm-3 control-label" style="font-size: 100">通道号</label>
												    <div class="col-sm-9">
												      <input type="text" name="theta2" class="form-control" id="theta2" placeholder="请输入通道号">
												    </div>
												  </div>
												  <div class="form-group">
												    <label for="phy1" class="col-sm-3 control-label">相位</label>
												    <div class="col-sm-9">
												      <input type="text" name="phy1" class="form-control" id="phy1" placeholder="请输入相位">
												    </div>
												  </div>
												  <div class="form-group">
												    <label for="phy2" class="col-sm-3 control-label">衰减</label>
												    <div class="col-sm-9">
												      <input type="text" name="phy2" class="form-control" id="phy2" placeholder="请输入衰减">
												    </div>
												  </div>
												  <div class="form-group">
												    <div class="col-sm-offset-6 col-sm-6">
												      <!--<input type="submit" value="提交">-->
												      <button type="submit" class="btn btn-default" >提交</button>
												    </div>
												  </div>
												</form>
										    </div>
										</div>
							    	</div>
							    </div>
							    <div class="adjustment">
							    	<h3>校准数据</h3>
							    	<div class="adjustment_content"> 
								      	<table class="table table_adjustment" style="margin:10px 0 ">
								      		<tbody>
								      			<tr style="border-radius: 10px;">
								      				<td colspan="2" style="text-align: center;">
								      					<input type="file" name="浏览" id="" />
								      				</td>
								      				<td rowspan="2" class="flash"><p>flash状态</p></td>
								      			</tr>
								      			<tr>
								      				<td>
														<button id="fat-btn" class="btn btn-primary" data-loading-text="删除校准数据文件" 
	                                                	type="button">删除校准数据文件
		                                            	</button>
								      				</td>
								      				<td>
								      					<button id="fat-btn" class="btn btn-primary" data-loading-text="写入校准数据文件" 
	                                                	type="button">写入校准数据文件
		                                            	</button>
								      				</td>
								      			</tr>
								      		</tbody>
								      	</table>
							    	</div>
							    </div>
							    <div class="RS422_debug">
							    	<h3>RS422调试</h3>
							    	<div class="RS422_debug_content"> 
								      	<table class="table table_RS422_debug" style="margin: 10px 0">
								      		<tbody>
								      			<tr>
								      				<td>
								      					<button id="fat-btn" class="btn btn-primary" data-loading-text="正常模式" 
		                                                type="button">正常模式
		                                            	</button>
                                            		</td>
								      				<td>
							      						<button id="fat-btn" class="btn btn-primary" data-loading-text="串行环回" 
	                                                	type="button">串行环回
		                                            	</button>
								      				</td>
								      			</tr>
								      			<tr>
								      				<td>
							      						<button id="fat-btn" class="btn btn-primary" data-loading-text="数据环回" 
	                                                	type="button">数据环回
	                                            		</button>
								      				</td>
								      				<td>
								      					<button id="fat-btn" class="btn btn-primary" data-loading-text="发送测试数据" 
		                                                type="button">发送测试数据
		                                            	</button>
								      				</td>
								      			</tr>
								      		</tbody>
								      	</table>
							    	</div>
							    </div>
						    </div>
						</div>
						<div class="panel panel-info" id="version">
						    <div class="panel-heading">
						        版本配置
						    </div>
						    <div class="panel-body">
						        <table class="table table-striped table-bordered table_version" >
								    <thead>
								    	<th colspan="5" style="background-color: #B0C4DE">软件配置</th>
								    </thead>
								    <tbody>
									      <td>BOOT版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="file" id="test" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td id="upload">加载</td>
									    </tr>
									    <tr>
									      <td>LINUX版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="" id="" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td>加载</td>
									    </tr>
									    <tr>
									      <td>软件版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="" id="" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td>加载</td>
									    </tr>
								    </tbody>
								</table>
								<table class="table table-striped table-bordered table_version" >
								    <thead>
								    	<th colspan="5" style="background-color: #B0C4DE">FPGA配置</th>
								    </thead>
								    <tbody>
									      <td>ZYNQ_PL版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="" id="" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td>加载</td>
									    </tr>
									    <tr>
									      <td>FPGA0版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="" id="" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td>加载</td>
									    </tr>
									    <tr>
									     <td>FPGA1版本</td>
									      <td>00000000</td>
									      <td>
									      	<a href="javascript:void(0);" class="a-upload">
									      		<input type="file" name="" id="" />
									      		浏览
									      	</a>
									  	  </td>
									      <td class="file_item"></td>
									      <td>加载</td>
									    </tr>
								    </tbody>
								</table>
						    </div>
						</div>
						<div class="panel panel-danger" id="system">
						    <div class="panel-heading">
						        系统管理
						    </div>
						    <div class="panel-body" >
						    	<div class="panel panel-default" style="height: 260px;">
								    <div class="panel-heading">
								        <h3 class="panel-title">
								            管理口令
								        </h3>
								    </div>
								    <div class="panel-body" >
								        <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="old_password" class="col-sm-2 control-label">原口令</label>
										    <div class="col-sm-5">
										      <input type="password" class="form-control" id="old_password" placeholder="请输入原口令" />
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="new_password" class="col-sm-2 control-label">新口令</label>
										    <div class="col-sm-5">
										      <input type="password" class="form-control" id="new_password" placeholder="请输入新口令" />
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="confirm_password" class="col-sm-2 control-label">口令确认</label>
										    <div class="col-sm-5">
										      <input type="password" class="form-control" id="confirm_password" placeholder="请确认口令" />
										    </div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-offset-4 col-sm-10">
										      <button type="submit" class="btn btn-default">提交</button>
										    </div>
										  </div>
										</form>
								    </div>
								</div>
						       	<div class="panel panel-default" style="height: 260px;">
								    <div class="panel-heading">
								        <h3 class="panel-title">
								            网络管理
								        </h3>
								    </div>
								    <div class="panel-body" >
								        <form class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="net_address" class="col-sm-2 control-label">网络地址</label>
										    <div class="col-sm-5">
										      <input type="password" class="form-control" id="net_address" placeholder="请输入网络地址">
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="netmask_address" class="col-sm-2 control-label">子网掩码</label>
										    <div class="col-sm-5">
										      <input type="text" class="form-control" id="netmask_address" placeholder="请输入子网掩码">
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="gateway" class="col-sm-2 control-label">网关</label>
										    <div class="col-sm-5">
										      <input type="text" class="form-control" id="gateway" placeholder="请输入网关">
										    </div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-offset-4 col-sm-10">
										      <button type="submit" class="btn btn-default">提交</button>
										    </div>
										  </div>
										</form>
								    </div>
								</div>
								    <div class="panel panel-default" style="height: 140px;">
									    <div class="panel-heading">
									        <h3 class="panel-title">
									            日志管理
									        </h3>
									    
									    </div> 
									    <div class="panel-body">
									    	<div>
									    		<button id="fat-btn" class="btn btn-primary" data-loading-text="上传日志" 
                                                type="button">上传日志
                                                </button>
                                                <button id="fat-btn" class="btn btn-primary" data-loading-text="删除日志" 
                                                type="button">删除日志
                                                </button>
									    	</div>
									    </div>   
									</div>
								</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function saveReport() {
				// jquery 表单提交
				$("#saveReportForm1,#saveReportForm2").ajaxSubmit(
							{ type: 'get', // 提交方式 get/post url: 'your url', // 需要提交的 url
						 data: $("#saveReportForm1").serialize(),
						 success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
							// 此处可对 data 作相关处理
							alert('提交成功！');
						 }
						 //$(this).resetForm(); // 提交后重置表单				
				});

				return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
				} 			
			$(function(){
				
				$(".left .list-group-item").click(function(){
					$(".left .list-group-item").removeClass("active");
					$(this).focus().addClass("active");
					var index = $(this).index();
					$(".right_main").animate({"scrollTop":index * $("#status").outerHeight(true)},300);
				});


				$(".a-upload").on("change","input[type='file']",function(){
				    var filePath=$(this).val();
				    if(filePath.indexOf("jpg")!=-1 || filePath.indexOf("png")!=-1){
				        $(".fileerrorTip").html("").hide();
				        var arr=filePath.split('\\');
				        var fileName=arr[arr.length-1];
				        $(this).parent().parent().parent().find(".file_item").html(fileName);
			
				    }else{
				        /*$(".showFileName").html("");*/
				       $(this).parent().parent().parent().find(".file_item").html("");
				        $(".fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
				        return false 
				    }
				});

				$("#upload").click(function(){
					$.ajax({
					    url:'/action/uploadTest',
					    type:'POST', //GET
					    async:true,    //或false,是否异步
					    data:{
					        file:$("#test").val(),
					    },
					    timeout:5000,    //超时时间
				//	    dataType:'json',    //返回的数据格式：json/xml/html/script/
				
					    success:function(data,textStatus,jqXHR){
					        console.log(data)
					        console.log(textStatus)
					        console.log(jqXHR)
					    },
					    error:function(xhr,textStatus){
					        console.log('错误')
					        console.log(xhr)
					        console.log(textStatus)
					    }
					})
				});
			});

		var int=self.setInterval("loadXMLDoc()",1000)
		function clock()
		{
			var t=new Date()
			document.getElementById("datetime").innerHTML=t
		}

		function loadXMLDoc()
		{
		var xmlhttp;
	
		xmlhttp=new XMLHttpRequest();
		xmlhttp.onreadystatechange=function()
		  {
		  if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
			document.getElementById("temp").innerHTML=xmlhttp.responseText;
			}
		  }
		xmlhttp.open("GET","/action/gettemp",true);
		xmlhttp.send();
		}

		</script>
	</body>
</html>
